<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uilangage.spring.test.ajax.repository.BookmarkListRepository">

	<select id="selectBookmarkList"
	resultType="com.uilangage.spring.test.ajax.domain.BookmarkList">
		SELECT
			`id`
			, `name`
			, `url`
			, `createdAt`
 			, `updatedAt`
 		FROM
 			`bookmark_list`	
	</select>
	
	<insert id="insertBookmark"  parameterType="map">
		INSERT INTO
			`bookmark_list`
		(
		 	`name`
		 	, `url`
		)
		VALUE
		(
			#{name}
			, #{url}
		)
		
	</insert>
	<select id="selectCountUrl" parameterType="String"
	resultType="int">
		SELECT
			count(1)
		FROM
			`bookmark_list`
		WHERE
			`url` = #{url}		
	</select>
	
	<delete id="deleteBookmark" parameterType="int">
		DELETE FROM
			`bookmark_list`
		WHERE
			`id` = #{id}	
	</delete>

</mapper>